<%- include('../admin/adminLayout/header.ejs')%>

<style>
     .btn{
      width: 100%;
    }
    .btn-control{
      display: flex;
      justify-content: center;
    }
    input[type=text]{
      padding: 12px 20px;
    }

</style>

<!-- saideNaveBar -->

<body class="g-sidenav-show  bg-gray-200">
    <aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3   bg-gradient-dark" id="sidenav-main">
      <div class="sidenav-header" style="margin: 15px;">
        <i class="fas fa-times p-3 cursor-pointer text-white opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
        <a class="navbar-brand m-0" href="#" target="_blank"></a>
        <img src="/assets/img/my_Logo.png" class="navbar-brand-img h-100" alt="main_logo">
        <span class="ms-1 font-weight-bold text-white">Energy Cart</span>
      </a>
      </div>
      <hr class="horizontal light mt-0 mb-2">
      <div class="collapse navbar-collapse  w-auto  max-height-vh-100" id="sidenav-collapse-main">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/admin/adminHome">
              <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="material-icons opacity-10">dashboard</i>
              </div>
              <span class="nav-link-text ms-1">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white " href="/admin/view-users">
              <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="material-icons opacity-10">group</i>
              </div>
              <span class="nav-link-text ms-1">Users</span>
            </a>
          </li>
          <li class="nav-item">
              <a class="nav-link text-white active bg-gradient-primary" href="/admin/view-banner">
                <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                  <i class="material-icons opacity-10">add_photo_alternate</i>
                </div>
                <span class="nav-link-text ms-1">Banner</span>
              </a>
            </li>
          <li class="nav-item">
            <a class="nav-link text-white " href="/admin/view-product">
              <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="material-icons opacity-10">inventory_2</i>
              </div>
              <span class="nav-link-text ms-1">Product</span>
            </a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link text-white" href="/admin/view-brand">
              <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="material-icons opacity-10">branding_watermark</i>
              </div> 
              <span class="nav-link-text ms-1">Brand</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white " href="/admin/view-category">
              <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="material-icons opacity-10">category</i>
              </div>
              <span class="nav-link-text ms-1">Category</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/admin/view-offers">
              <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="material-icons opacity-10">local_offer</i>
              </div>
              <span class="nav-link-text ms-1">Offers</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white " href="/admin/view-orders">
              <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="material-icons opacity-10">wysiwyg</i>
              </div>
              <span class="nav-link-text ms-1">Orders</span>
            </a>
          </li>
          <li class="nav-item">
              <a class="nav-link text-white " href="/admin/view-coupon">
                <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                  <i class="material-icons opacity-10">redeem</i>
                </div>
                <span class="nav-link-text ms-1">Coupon</span>
              </a>
            </li>
          <li class="nav-item mt-3">
            <h6 class="ps-4 ms-2 text-uppercase text-xs text-white font-weight-bolder opacity-8">Account pages</h6>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white " href="./pages/profile.html">
              <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="material-icons opacity-10">person</i>
              </div>
              <span class="nav-link-text ms-1">Profile</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white " href="/admin/logout">
              <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="material-icons opacity-10">logout</i>
              </div>
              <span class="nav-link-text ms-1">Log out</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white " href="./pages/sign-up.html">
              <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="material-icons opacity-10">assignment</i>
              </div>
              <span class="nav-link-text ms-1">Sign Up</span>
            </a>
          </li>
        </ul>
      </div>
      <!-- <div class="sidenav-footer position-absolute w-100 bottom-0 ">
        <div class="mx-3">
          <a class="btn bg-gradient-primary mt-4 w-100" href="https://www.creative-tim.com/product/material-dashboard-pro?ref=sidebarfree" type="button">Upgrade to pro</a>
        </div>
      </div> -->
    </aside>
    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
      
      <%- include('../admin/adminLayout/navbar.ejs')%>
  <!-- endSaidNavBar -->

  <div class="container-fluid py-4">
    <div class="row">
      <div class="col-12">
        <div class="card my-4">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
              <h6 class="text-white text-capitalize ps-3"><%=title%></h6>
            </div>
          </div>
          <div class="card-body px-0 pb-2">
            <div class="container-fluid">
            <form action="/admin/edit-banner" enctype="multipart/form-data" method="post"> 
                <div class="row">
                    <div class="col-md-6">
                        <label for="inputBannerHead" class="form-label">Banner Head</label>
                        <input type="text" name="bannerHead" class="form-control" placeholder="Banner Head" style="background-color: antiquewhite;" value="<%=bannerData.bannerHead%>"> 
                        <div id="bannerHeadError" class="error-message text-danger"></div>
                      </div>
                      
                      <div class="col-md-6">
                        <label for="inputDescription" class="form-label">Description</label>
                        <input type="text" name="description" class="form-control" placeholder="Description" style="background-color: antiquewhite;" value="<%=bannerData.description%>"> 
                        <div id="descriptionError" class="error-message text-danger"></div>
                      </div>
                    </div>
                      <div class="row">
                        <div class="col md-6 py-4">
                          <label for="exampleFormControlTextarea1">Existing Banner</label>
                          <div class="form-group" >
                            <img src="/adminAssets/images/<%=bannerData.image%>" alt="Old Image" style="width: 100px;" class="img-fluid imgView">
                              <div class="image-preview-container mt-2" style="width: 100px;"></div>
                          </div>
                      </div>
                    <!-- </div>
                      <div class="row"> -->
                        <div class="col md-6 py-4">
                            <label for="exampleFormControlTextarea1">Upload New Banner</label>
                            <div class="form-group">
                                <input type="file" name="image" id="image" multiple accept="image/*" required>
                                <div class="image-preview-container2 mt-2" style="width: 100px;"></div>
                            </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col md-3 py-4">
                          <input type="hidden" name="id" value="<%=bannerData._id%>">
                            <button type="submit" class="btn btn-info">Update Banner</button>
                        </div>
                      </div>
              </form>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>


<script>
  document.addEventListener('DOMContentLoaded', function () {
  const inputImage = document.getElementById('image');
  const previewContainer = document.querySelector('.image-preview-container2');
  // const addImageButton = document.getElementById('addImageBtn');

  inputImage.addEventListener('change', function () {
      displayImages();
  });

  addImageButton.addEventListener('click', function () {
      // Trigger the input file click event to allow the user to add more images
      inputImage.click();
  });

  function displayImages() {
      Array.from(inputImage.files).forEach(function (file) {
          const reader = new FileReader();

          reader.onload = function () {
              const imagePreview = document.createElement('div');
              imagePreview.classList.add('image-preview');

              const image = document.createElement('img');
              image.src = reader.result;
              image.classList.add('img-fluid');

              const removeButton = document.createElement('button');
              removeButton.type = 'button';
              removeButton.classList.add('remove-button');

              // Create an icon element (font-awesome in this case)
              const icon = document.createElement('i');
              icon.classList.add('fas', 'fa-trash-alt'); 

              removeButton.appendChild(icon);
              removeButton.addEventListener('click', function () {
                  imagePreview.remove();
                  // Remove corresponding file from input
                  const dt = new DataTransfer();
                  Array.from(inputImage.files).forEach(function (existingFile) {
                      if (existingFile !== file) {
                          dt.items.add(existingFile);
                      }
                  });
                  inputImage.files = dt.files;
              });

              imagePreview.appendChild(image);
              imagePreview.appendChild(removeButton);
              previewContainer.appendChild(imagePreview);
          };

          reader.readAsDataURL(file);
      });
  }

  // Other event listeners and functions if needed
});

</script>

<%-include('../admin/adminLayout/footer.ejs')%>
  