<%- include('../admin/adminLayout/header.ejs')%>

<style>
    input[type=text], select{
    padding: 12px 20px;
    background-color: rgb(236, 234, 234);
  }
  
  .form-control-sm{
      background-color:rgba(184, 182, 184, 0.336);
    }

  .col-sm-12{
    justify-content: center;
  }
  .table-row{
    text-align: center;
  }
  /* a.no-underline {
    text-decoration: none;
  } */

  .badge {
    text-decoration: none;
  }

</style>


<!-- saideNaveBar -->

<body class="g-sidenav-show  bg-gray-200">
  <aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3   bg-gradient-dark" id="sidenav-main">
    <div class="sidenav-header" style="margin: 15px;">
      <i class="fas fa-times p-3 cursor-pointer text-white opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
      <a class="navbar-brand m-0" href="#" target="_blank"></a>
      <img src="/assets/img/my_Logo.png" class="navbar-brand-img h-100" alt="main_logo">
      <span class="ms-1 font-weight-bold text-white">Energy Cart</span>
    </a>
    </div>
    <hr class="horizontal light mt-0 mb-2">
    <div class="collapse navbar-collapse  w-auto  max-height-vh-100" id="sidenav-collapse-main">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/admin/adminHome">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">dashboard</i>
            </div>
            <span class="nav-link-text ms-1">Dashboard</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/admin/view-users">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">group</i>
            </div>
            <span class="nav-link-text ms-1">Users</span>
          </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="/admin/view-banner">
              <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="material-icons opacity-10">add_photo_alternate</i>
              </div>
              <span class="nav-link-text ms-1">Banner</span>
            </a>
          </li>
        <li class="nav-item">
          <a class="nav-link text-white " href="/admin/view-product">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">inventory_2</i>
            </div>
            <span class="nav-link-text ms-1">Product</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-white" href="/admin/view-brand">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">branding_watermark</i>
            </div> 
            <span class="nav-link-text ms-1">Brand</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white " href="/admin/view-category">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">category</i>
            </div>
            <span class="nav-link-text ms-1">Category</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/admin/view-offers">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">local_offer</i>
            </div>
            <span class="nav-link-text ms-1">Offers</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white active bg-gradient-primary" href="/admin/view-orders">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">wysiwyg</i>
            </div>
            <span class="nav-link-text ms-1">Orders</span>
          </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white " href="/admin/view-coupon">
              <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="material-icons opacity-10">redeem</i>
              </div>
              <span class="nav-link-text ms-1">Coupon</span>
            </a>
          </li>
        <li class="nav-item mt-3">
          <h6 class="ps-4 ms-2 text-uppercase text-xs text-white font-weight-bolder opacity-8">Account pages</h6>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white " href="./pages/profile.html">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">person</i>
            </div>
            <span class="nav-link-text ms-1">Profile</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white " href="/admin/logout">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">logout</i>
            </div>
            <span class="nav-link-text ms-1">Log out</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white " href="./pages/sign-up.html">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">assignment</i>
            </div>
            <span class="nav-link-text ms-1">Sign Up</span>
          </a>
        </li>
      </ul>
    </div>
    <!-- <div class="sidenav-footer position-absolute w-100 bottom-0 ">
      <div class="mx-3">
        <a class="btn bg-gradient-primary mt-4 w-100" href="https://www.creative-tim.com/product/material-dashboard-pro?ref=sidebarfree" type="button">Upgrade to pro</a>
      </div>
    </div> -->
  </aside>
  <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    
    <%- include('../admin/adminLayout/navbar.ejs')%>
<!-- endSaidNavBar -->


<div class="container-fluid py-4">
    <div class="row">
      <div class="col-12">
        <div class="card my-4">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
              <h6 class="text-white text-capitalize ps-3"><%=title%></h6>
            </div>
          </div>

      
        <!-- End Search and filter -->

          <div class="card-body px-0 pb-2">
            <div class="table-responsive p-0">
              <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                <thead style="background-color: rgb(99, 99, 98);">
                  <tr>
                    <th class="th-sm" style="color: white;">No</th>
                    <th class="th-sm" style="color: white;">User Name</th>
                    <th class="th-sm" style="color: white;">Order Date</th>
                    <th class="th-sm" style="color: white;">Quantity</th>
                    <th class="th-sm" style="color: white;">Price</th>
                    <th class="th-sm" style="color: white;">Total Amount</th>
                    <th class="th-sm" style="color: white;">Image</th>
                    <th class="th-sm" style="color: white;">Order Status</th>
                    <th class="th-sm" style="color: white;">Payment Status</th>
                    <th class="th-sm" style="color: white;">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <% if(Array.isArray(orders) && orders.length > 0){%>
                    <% let count=1%>
                    <% orders.forEach((data)=>{%>
                      <tr>
                    <td style="text-align: center;"><%=count%></td>
                    <td style="text-align: center;"><%=data.user.name%></td>
                    <td style="text-align: center;"><%=data.orderDetails.date.toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: '2-digit' }).replace(/\//g, '-')%></td>
                    <td style="text-align: center;"><%=data.orderDetails.quantity%></td>
                    <td style="text-align: center;">&#x20B9;<%=data.product.price%></td>
                    <td style="text-align: center;">&#x20B9;<%=data.product.price*data.orderDetails.quantity%></td>
                    <td style="text-align: center;"><img src="/adminAssets/images/<%=data.product.image[0]%>" class="avatar avatar-sm me-3 border-radius-lg" alt=""></td>


                    <td style="text-align: center;"><% if(data.orderDetails && data.orderDetails.orderStatus === 'Placed'){%>
                      <p class="text-xs text-info font-weight-bold mb-0">Placed</p>
                    
                    <% }else if(data.orderDetails && data.orderDetails.orderStatus==='Pending') {%>
                      
                        <p class="text-xs text-secondary font-weight-bold mb-0">Pending</p>
                      
                        <% }else if(data.orderDetails && data.orderDetails.orderStatus==='Shipped') {%>
                        
                        <p class="text-xs text-primary font-weight-bold mb-0">Shipped</p>
                        
                        <% }else if(data.orderDetails && data.orderDetails.orderStatus==='Delivered'){%>
                        
                            <p class="text-xs text-success font-weight-bold mb-0">Delivered</p>
                          
                          <% }else if(data.orderDetails && data.orderDetails.orderStatus==='Cancelled'){ %>
                            
                                <p class="text-xs text-warning font-weight-bold mb-0">Cancelled</p>
                              
                              <% }else if(data.orderDetails && data.orderDetails.orderStatus==='OutforDelivery'){%>
                                
                                    <p class="text-xs text-info font-weight-bold mb-0">OutforDelivery</p>
                                  
                                  <% }else if(data.orderDetails && data.orderDetails.orderStatus==='Returned'){%> %>

                                    <p class="text-xs text-danger font-weight-bold mb-0">Returned</p>
                                </td>
                                <% } %>
                              </td>


                                <td style="text-align: center;">
                                <% if(data.orderDetails.paymentStatus==='success'){%>
                                  <p class="text-xs text-success font-weight-bold mb-0">Success</p>
                                    <% }else if(data.orderDetails.paymentStatus==='Pending'){%>
                                        <p class="text-xs font-weight-bold mb-0">Pending</p>
                                        <% }else if(data.orderDetails.paymentStatus==='Failed'){%>
                                            <p class="text-xs font-weight-bold mb-0">Failed</p>
                                            <% }else if(data.orderDetails.paymentStatus==='Refund') {%>
                                              <p class="text-xs font-weight-bold mb-0">Refund</p>
                                              <% }else if(data.orderDetails.paymentStatus==='Cancelled') {%>
                                                <p class="text-xs font-weight-bold mb-0">Cancelled</p> %>
                                                <% } %>
                                              </td>
                                              
                    <td style="text-align: center;"><a href="/admin/view-ordersDetails?orderId=<%=data.orderDetails._id%>&productId=<%=data.product._id%>">
                      <span class="badge badge-sm bg-gradient-danger">Manage</span></a>
                    </td>
                    <% count++ %>
                    <% }); %>
                    <% }else{ %>
                    <td>
                      <tr>
                        <p class="text-xs font-weight-bold mb-0">Order not found</p>
                      </tr>
                    </td>
                  </tr>
                </tbody>
              <% }%>
          </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Optional JavaScript -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>


<!-- script for Data Table -->
<script>
    $(document).ready(function () {
        $('#dtBasicExample').DataTable({
            responsive: true
        });
        $('.dataTables_length').addClass('bs-select');
    });
</script>

<%-include('../admin/adminLayout/footer.ejs')%>