
<%- include('../admin/adminLayout/header.ejs')%>


<!-- saideNaveBar -->

<body class="g-sidenav-show  bg-gray-200">
  <aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3   bg-gradient-dark" id="sidenav-main">
    <div class="sidenav-header" style="margin: 15px;">
      <i class="fas fa-times p-3 cursor-pointer text-white opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
      <a class="navbar-brand m-0" href="#" target="_blank"></a>
      <img src="/assets/img/my_Logo.png" class="navbar-brand-img h-100" alt="main_logo">
      <span class="ms-1 font-weight-bold text-white">Energy Cart</span>
    </a>
    </div>
    <hr class="horizontal light mt-0 mb-2">
    <div class="collapse navbar-collapse  w-auto  max-height-vh-100" id="sidenav-collapse-main">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/admin/adminHome">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">dashboard</i>
            </div>
            <span class="nav-link-text ms-1">Dashboard</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/admin/view-users">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">group</i>
            </div>
            <span class="nav-link-text ms-1">Users</span>
          </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="/admin/view-banner">
              <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="material-icons opacity-10">add_photo_alternate</i>
              </div>
              <span class="nav-link-text ms-1">Banner</span>
            </a>
          </li>
        <li class="nav-item">
          <a class="nav-link text-white " href="/admin/view-product">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">inventory_2</i>
            </div>
            <span class="nav-link-text ms-1">Product</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-white" href="/admin/view-brand">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">branding_watermark</i>
            </div> 
            <span class="nav-link-text ms-1">Brand</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white active bg-gradient-primary" href="/admin/view-category">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">category</i>
            </div>
            <span class="nav-link-text ms-1">Category</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/admin/view-offers">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">local_offer</i>
            </div>
            <span class="nav-link-text ms-1">Offers</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white " href="/admin/view-orders">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">wysiwyg</i>
            </div>
            <span class="nav-link-text ms-1">Orders</span>
          </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white " href="/admin/view-coupon">
              <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="material-icons opacity-10">redeem</i>
              </div>
              <span class="nav-link-text ms-1">Coupon</span>
            </a>
          </li>
        <li class="nav-item mt-3">
          <h6 class="ps-4 ms-2 text-uppercase text-xs text-white font-weight-bolder opacity-8">Account pages</h6>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white " href="./pages/profile.html">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">person</i>
            </div>
            <span class="nav-link-text ms-1">Profile</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white " href="/admin/logout">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">logout</i>
            </div>
            <span class="nav-link-text ms-1">Log out</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white " href="./pages/sign-up.html">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">assignment</i>
            </div>
            <span class="nav-link-text ms-1">Sign Up</span>
          </a>
        </li>
      </ul>
    </div>
    <!-- <div class="sidenav-footer position-absolute w-100 bottom-0 ">
      <div class="mx-3">
        <a class="btn bg-gradient-primary mt-4 w-100" href="https://www.creative-tim.com/product/material-dashboard-pro?ref=sidebarfree" type="button">Upgrade to pro</a>
      </div>
    </div> -->
  </aside>
  <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    
    <%- include('../admin/adminLayout/navbar.ejs')%>
<!-- endSaidNavBar -->





<div class="container-fluid py-4">
    <div class="row">
      <div class="col-12">
        <div class="card my-4">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-primary shadow-primary border-radius-lg">
              <div class="row justify-content-lg-between align-items-center margin-0 py-0">
                <div class="col-md-12 col-lg-6 mb-2 mb-lg-0">
                  <h6 class="text-white text-capitalize ps-3"><%=title%></h6>
                </div>
                <div class="col-md-12 col-lg-6">
                  <div class="d-flex justify-content-end">
                    <a class="nav-link text-white " href="/admin/add-category">
                      <button type="button" class="btn bg-gradient-success ms-3 mt-2">
                        <i class="material-icons opacity-10">add</i> Add Category</button>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body px-0 pb-2">
            <div class="table-responsive p-0">
              <table class="table align-items-center mb-4">
                <thead>
                  <tr style="background-color: rgb(227, 225, 225);">
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder  ps-2">No</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder  ps-2">Category Name</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder  ps-2">Description</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder  ps-2">Image</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder  ps-2">Update</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder  ps-2">Status</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder  ps-2">Offers</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder  ps-2">Action</th>
                    
                  </tr>
                </thead>
                <tbody>
                  <% let counter = 1 %>
                  <% if (categoryData.length >0){%>
                    <% categoryData.forEach((cat)=>{%>

                        <% var now = new Date()%>
                        <% var active = "No Offer" %>
                        
                        <% if (cat.offer) { %>
                          <% if (cat.offer.startingDate && cat.offer.expiryDate && cat.offer.status) { %>
                            <% if (cat.offer.startingDate < now && cat.offer.expiryDate > now) { 
                              active = "Active";
                            } else if (cat.offer.startingDate > now) {
                              active = "Upcoming";
                            } else if (cat.offer.expiryDate < now) {
                              active = "Expired";
                            } %>
                          <% } %>
                        <% } %>
                      
                      
                  <tr>
                    <td>
                      <p class="text-xs font-weight-bold mb-0"><%= counter %></p>
                    </td>
                    <td>
                      <p class="text-xs font-weight-bold mb-0"><%=cat.categoryName%></p>
                    </td>
                    <td>
                      <p class="text-xs font-weight-bold mb-0"><%=cat.description%></p>
                    </td>
                    <td>
                        <img src="/adminAssets/images/<%=cat.image%>" class="avatar avatar-sm me-3 border-radius-lg" alt="">
                    </td>
                    <td>
                      <p class="text-xs font-weight-bold mb-0"><a href="/admin/edit-category?id=<%= cat._id %>">Edit</a></p>
                    </td>

                    <td>
                    <% if (cat.offer) { %>
                        <!-- Display status if offer is active -->
                        <span class="<% if (active === 'Active') { %> text-success
                            <% } else if (active === 'Upcoming') { %> text-warning
                            <% } else { %> text-primary<% } %>">
                            <%= active %>
                        </span>
                    <% } else { %>
                        <!-- Display 'Cancelled' if offer is not active -->
                        <span class="text-danger">Cancelled</span>
                    <% } %>
                </td>
                
                    <td>
                      <% if(cat.offer){%>
                        <a href="#" onclick="removeOffer('<%=cat._id%>')"><span class="badge badge-sm bg-gradient-danger">Remove Offer</a></span>
                        <% }else{%>
                          <a href="#" class="badge badge-sm bg-gradient-success open-offer-modal" data-bs-toggle="modal" data-bs-target="#offerModal" data-cat-id="<%=cat._id%>">Apply offer</a>
                        <% } %>
                      </td>

                      
                    <% if (cat.is_block==false){%>
                    <td class=" text-sm">
                      <a href="/admin/is_blockCategory?id=<%= cat._id %>">
                      <span class="badge badge-sm bg-gradient-success">List</span></a>
                    </td>
                    <%}else{%>
                      <td class=" text-sm">
                        <a href="/admin/is_blockCategory?id=<%= cat._id %>">
                        <span class="badge badge-sm bg-gradient-danger">Unlist</span></a>
                      </td>
                      <% } %>
                      <% counter++ %>
                <%});%>
                
                  
                </tbody>
              </table>
            </div>

            <!-- pagination -->
            <div class="row">
              <div class="col-md-12 d-flex justify-content-center">
            <ul class="pagination">
              <li class="page-item">
                  <a class="page-link" href="?page=<%= Math.max(currentPage - 1, 0) %>">Previous</a>
              </li>
              <% for (let i = 1; i <= totalPages; i++) { %>
                  <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                      <a class="page-link" href="?page=<%= i - 1 %>"><%= i %></a>
                  </li>
              <% } %>
              <li class="page-item">
                  <a class="page-link" href="?page=<%= Math.min(currentPage + 1, totalPages - 1) %>">Next</a>
              </li>
          </ul>
        </div>
      </div>
      <!-- end pagination -->
          </div>
        </div>
      </div>
    </div>
</div>


<!---------------------------------------- modal_disply_offers ---------------------------------------------->
<div class="modal fade" id="offerModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Offer List</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="background-color: black;"></button>
         </div>
         <div class="modal-body" id="offer-modal_1">
          
           <% availableOffers.forEach((offer)=>{%>
        
          <div class="card" style="width: 25rem; background-color: cadetblue;">
            <!-- <img src="/adminAssets/images/offer_sticker.png" class="card-img-top" alt="..."> -->
            <div class="card-body custom-card-background" style="height: .25rem;">
              <h5 class="card-title" style="color: white;"><%=offer.offerName%></h5>
            </div>
            <ul class="list-group list-group-flush" style="background-color: rgb(238, 10, 97);">
              <li class="list-group-item" style="color: black;">Starting Date:<%=offer.startingDate.toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: '2-digit' }).replace(/\//g, '-')%></li>
              <li class="list-group-item" style="color: black;">Expiry Date:<%=offer.expiryDate.toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: '2-digit' }).replace(/\//g, '-')%></li>
              <li class="list-group-item" style="color: black;">Discount:<%=offer.percentage%>%</li>
            </ul>
          </div>
    
              <div class="d-flex mt-2">
                <button type="button" onclick="applyOffer('<%= offer._id%>')"  class="btn btn-primary" >Apply</button>
              </div>
         <% }); %>
         <% } %>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
         </div>
    </div>
   </div>
</div>
</div>



<!-- Bootstrap 5 JS bundle -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

<!-- Modal Script -->
<script>
  document.addEventListener('DOMContentLoaded', function () {
    var openOfferModalButtons = document.querySelectorAll('.open-offer-modal');

    openOfferModalButtons.forEach(function (button) {
      button.addEventListener('click', function (e) {
        var catId = button.getAttribute('data-cat-id');
        updateModalContent(catId);
      });
    });

    function updateModalContent(catId) {
      
      var modal_1 = document.getElementById('offer-modal_1');
      modal_1.setAttribute('cid', catId);
      modalTitle.innerText = 'Offer List for Category ID: ' + catId;
    }
  });
</script>

<script>
  function applyOffer(offerId) {
    const cid = document.getElementById('offer-modal_1').getAttribute('cid');
    $.ajax({
      url: '/admin/applyOffer',
      method: 'PATCH',
      data: { offerId: offerId, categoryId: cid },
      success: function (response) {
        if (response.status) {
        
              Swal.fire({
                icon: "success",
                title: 'Offer Applied successfully.',
                showConfirmButton: false,
                timer: 1500
            }).then(()=>{
              location.reload();
            })
        }
      },      
      error: function () {
            // Handle the case when the AJAX request encounters an error
            Swal.fire({
            title: "Error!",
            text: "Unable to communicate with the server.",
            icon: "error"
          });
        }
    });
  }


  function removeOffer(categoryId){

              Swal.fire({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, remove it!"
              }).then((result) => {
                if (result.isConfirmed) {
                  $.ajax({
                    url: '/admin/removeOffer',
                    method: 'PATCH',
                    data: { categoryId: categoryId },
                    success: function (response) {
                      if (response.status) {
                        Swal.fire({
                          title: "Removed!",
                          text: "Your file has been removed.",
                          icon: "success"
                        }).then(() => {
                          location.reload();
                        });
                      } else {
                        // Handle the case when deletion is not successful
                        Swal.fire({
                          title: "Error!",
                          text: "Unable to delete the file.",
                          icon: "error"
                        });
                      }
                    },
                    error: function () {
                      // Handle the case when the AJAX request encounters an error
                      Swal.fire({
                        title: "Error!",
                        text: "Unable to communicate with the server.",
                        icon: "error"
                      });
                    }
                  });
                }
              });
      
            }
</script>


<%-include('../admin/adminLayout/footer.ejs')%>