
    <%-include('../layout/header.ejs') %>
	<%-include('../layout/navigation.ejs')%>

	<style>

  	.cta-btn {
    	text-decoration: none;

  	}

    /* Custom styles for the carousel */
    #carouselExampleDark {
        background: linear-gradient(90deg, rgb(209,0,36) 0%, rgba(253,29,29,1) 34%, rgba(252,173,69,1) 100%);
		/* background-image: ; */
        max-width: 1000px;
		min-height: 400px;
        margin: auto; 
    }

    .carousel-inner {
        border-radius: 10px; 
    }

	.carousel-caption{
		/* display: flex; */
		text-align: center;
	}


</style>



	<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- banner -->
					<div class="col-md-12 sm-6">
						<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
							<div class="carousel-indicators">
								<% for(let i=0; i<banner.length; i++) { %>
									<button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="<%= i %>" <% if(i === 0) { %>class="active"<% } %> aria-label="Slide <%= i + 1 %>"></button>
								<% } %>
							</div>
							<div class="carousel-inner">
								<% banner.forEach((item, index) => { %>
									<div class="carousel-item <%= index === 0 ? 'active' : '' %>" data-bs-interval="10000">
										<div class="d-flex align-items-center">
											<img src="<%= '/adminAssets/images/' + item.image[0] %>" class="d-block w-20" alt="..." style="padding: 15px;">
										</div>
										<div class="carousel-caption d-none d-md-block">
											<h1><%= item.bannerHead %></h1>
											<p><%= item.description %></p>
											<a href="/product"><button class="btn btn-dark">SHOP NOW</button></a>
										</div>
									</div>
								<% }); %>
							</div>
							<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
								<span class="carousel-control-prev-icon" aria-hidden="true"></span>
								<span class="visually-hidden">Previous</span>
							</button>
							<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
								<span class="carousel-control-next-icon" aria-hidden="true"></span>
								<span class="visually-hidden">Next</span>
							</button>
						</div>
						
						<!-- banner -->
					</div>
					<!-- row -->
				</div>
			</div>
			<!-- container -->
		</div>
	<!-- SECTION -->

    <!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- shop -->
					<%  categoryData.forEach(cat=>{ %>
						<div class="col-md-3 col-xs-6">
							<div class="shop">
								<div class="shop-img">
									<img src="/adminAssets/images/<%=cat.image%>" alt="">

								</div> 
								<div class="shop-body">
									<% if(cat.offer){%>
									<div class="product-label d-flex justify-content-lg-around" style="background-color: yellowgreen;color: white;">
										<span class="sale">-<%=cat.offer.percentage%>%</span>
										<span class="new">NEW</span>
									</div>
									<% } %>
									<h4><%=cat.categoryName%><br>Collection</h4>
									<a href="/product" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
								
								</div>
							</div>
						</div>
					<% }); %>
					<!-- /shop -->

				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->



		
		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<!-- section title -->
					<div class="col-md-12">
						<div class="section-title">
							<h3 class="title">New Products</h3>
							<div class="section-nav">
								<ul class="section-tab-nav tab-nav">
									<li class="active"><a data-toggle="tab" href="#tab1">Switches</a></li>
									<li><a data-toggle="tab" href="#tab1">Wires</a></li>
									<li><a data-toggle="tab" href="#tab1">Circuit Breakers</a></li>
									<li><a data-toggle="tab" href="#tab1">Lights</a></li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /section title -->

					<% productData.forEach((product)=>{ %>
					<!-- Products tab & slick -->
					<div class="col-md-12">
						<div class="row">
							<div class="products-tabs">
								<!-- tab -->
								<div id="tab1" class="tab-pane active">
									<div class="products-slick" data-nav="#slick-nav-1">
										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="/adminAssets/images/<%=product.image[0]%>" alt="" style="width: 300px;">
												<div class="product-label">
													<span class="sale">-30%</span>
													<span class="new">NEW</span>
												</div>
											</div>
											<div class="product-body">
												<p class="product-category"><%=product.category.categoryName%></p>
												<p class="product-category"><%=product.brandName.brandName%></p>
												<h3 class="product-name"><a href="#"><%=product.name%></a></h3>
												<% if(product.offer && (!product.category.offer || product.offer.percentage > product.category.percentage)){%>
												<h4 class="product-price">₹ <%=product.discountedPrice%> <del class="product-old-price">₹ <%=product.price%></del></h4>
												<% }else if(product.category.offer){ %>
													<h4 class="product-price">₹ <%=product.categoryDiscountedPrice%></h4>
													<% }else{ %>
														<h4 class="product-price">₹ <%=product.price%></h4>
														<% }%>
												<div class="product-rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
												</div>
												<div class="product-btns">
													<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
													<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
													<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
												</div>
											</div>
											<div class="add-to-cart">
												<!-- <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button> -->
												<a href="/product"><button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>SHOP NOW</button></a>
											</div>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 
										</div>
										<!-- /product -->
									</div>
									<div id="slick-nav-1" class="products-slick-nav"></div>
								</div>
								<!-- /tab -->
							</div>
						</div>
					</div>
					<!-- Products tab & slick -->
					<% }); %>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

		<!-- HOT DEAL SECTION -->
		<div id="hot-deal" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<div class="hot-deal">
							<ul class="hot-deal-countdown">
								<li>
									<div>
										<h3>02</h3>
										<span>Days</span>
									</div>
								</li>
								<li>
									<div>
										<h3>10</h3>
										<span>Hours</span>
									</div>
								</li>
								<li>
									<div>
										<h3>34</h3>
										<span>Mins</span>
									</div>
								</li>
								<li>
									<div>
										<h3>60</h3>
										<span>Secs</span>
									</div>
								</li>
							</ul>
							<h2 class="text-uppercase">hot deal this week</h2>
							<p>New Collection Up to 50% OFF</p>
							<a class="primary-btn cta-btn" href="#">Shop now</a>
						</div>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /HOT DEAL SECTION -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<!-- section title -->
					<!-- <div class="col-md-12">
						<div class="section-title">
							<h3 class="title">Top selling</h3>
							<div class="section-nav">
								<ul class="section-tab-nav tab-nav">
									<li class="active"><a data-toggle="tab" href="#tab2">Switches</a></li>
									<li><a data-toggle="tab" href="#tab2">Wires</a></li>
									<li><a data-toggle="tab" href="#tab2">Circuit Breakers</a></li>
									<li><a data-toggle="tab" href="#tab2">Lights</a></li>
								</ul>
							</div>
						</div>
					</div> -->
					<!-- /section title -->

					<!-- Products tab & slick -->
					<div class="col-md-12">
						<div class="row">
							<div class="products-tabs">
								<!-- tab -->
								<div id="tab2" class="tab-pane fade in active">
									<div class="products-slick" data-nav="#slick-nav-2">
										<!-- product -->
										<!-- <div class="product">
											<div class="product-img">
												<img src="./images/Switch 2.jpg" alt="">
												<div class="product-label">
													<span class="sale">-30%</span>
													<span class="new">NEW</span>
												</div>
											</div>
											<div class="product-body">
												<p class="product-category">Category</p>
												<h3 class="product-name"><a href="#">product name goes here</a></h3>
												<h4 class="product-price">₹ 980.00 <del class="product-old-price">₹ 990.00</del></h4>
												<div class="product-rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
												</div>
												<div class="product-btns">
													<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
													<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
													<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
												</div>
											</div>
											<div class="add-to-cart">
												<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
											</div>
										</div> -->
										<!-- /product -->

										<!-- product -->
										<!-- <div class="product">
											<div class="product-img">
												<img src="./images/rccb.webp" alt="">
												<div class="product-label">
													<span class="new">NEW</span>
												</div>
											</div>
											<div class="product-body">
												<p class="product-category">Category</p>
												<h3 class="product-name"><a href="#">product name goes here</a></h3>
												<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
												<div class="product-rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star-o"></i>
												</div>
												<div class="product-btns">
													<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
													<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
													<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
												</div>
											</div>
											<div class="add-to-cart">
												<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
											</div>
										</div> -->
										<!-- /product -->

										<!-- product -->
										<!-- <div class="product">
											<div class="product-img">
												<img src="./images/vguard-superio-25-sq-mm-green.jpeg" alt="">
												<div class="product-label">
													<span class="sale">-30%</span>
												</div>
											</div>
											<div class="product-body">
												<p class="product-category">Category</p>
												<h3 class="product-name"><a href="#">product name goes here</a></h3>
												<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
												<div class="product-rating">
												</div>
												<div class="product-btns">
													<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
													<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
													<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
												</div>
											</div>
											<div class="add-to-cart">
												<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
											</div>
										</div> -->
										<!-- /product -->

										<!-- product -->
										<!-- <div class="product">
											<div class="product-img">
												<img src="./images/schneider-mccb-500x500.webp" alt="">
											</div>
											<div class="product-body">
												<p class="product-category">Category</p>
												<h3 class="product-name"><a href="#">product name goes here</a></h3>
												<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
												<div class="product-rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
												</div>
												<div class="product-btns">
													<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
													<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
													<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
												</div>
											</div>
											<div class="add-to-cart">
												<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
											</div>
										</div> -->
										<!-- /product -->

										<!-- product -->
										<!-- <div class="product">
											<div class="product-img">
												<img src="./images/panel-board-cable-500x500.webp" alt="">
											</div>
											<div class="product-body">
												<p class="product-category">Category</p>
												<h3 class="product-name"><a href="#">product name goes here</a></h3>
												<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
												<div class="product-rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
												</div>
												<div class="product-btns">
													<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
													<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
													<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
												</div>
											</div>
											<div class="add-to-cart">
												<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
											</div>
										</div> -->
										<!-- /product -->
									</div>
									<div id="slick-nav-2" class="products-slick-nav"></div>
								</div>
								<!-- /tab -->
							</div>
						</div>
					</div>
					<!-- /Products tab & slick -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<!-- <div class="row">
					<div class="col-md-4 col-xs-6">
						<div class="section-title">
							<h4 class="title">Top selling</h4>
							<div class="section-nav">
								<div id="slick-nav-3" class="products-slick-nav"></div>
							</div>
						</div>

						<div class="products-widget-slick" data-nav="#slick-nav-3">
							<div> -->
								<!-- product widget -->
								<!-- <div class="product-widget">
									<div class="product-img">
										<img src="./images/starter.webp" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Switches</p>
										<h3 class="product-name"><a href="#">Motor Starter</a></h3>
										<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
									</div>
								</div> -->
								<!-- /product widget -->

								<!-- product widget -->
								<!-- <div class="product-widget">
									<div class="product-img">
										<img src="./images/pvc-insulated-fr-cables-500x500.webp" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Wires</p>
										<h3 class="product-name"><a href="#">Pvc-insulated-fr-cables</a></h3>
										<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
									</div>
								</div> -->
								<!-- /product widget -->

								<!-- product widget -->
								<!-- <div class="product-widget">
									<div class="product-img">
										<img src="./images/rccb.webp" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Mcb</p>
										<h3 class="product-name"><a href="#">Rccb</a></h3>
										<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
									</div>
								</div> -->
								<!-- product widget -->
							<!-- </div> -->

							<!-- <div> -->
								<!-- product widget -->
								<!-- <div class="product-widget">
									<div class="product-img">
										<img src="./images/switch_99.webp" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Switches</p>
										<h3 class="product-name"><a href="#">Modular Switch</a></h3>
										<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
									</div>
								</div> -->
								<!-- /product widget -->

								<!-- product widget -->
								<!-- <div class="product-widget">
									<div class="product-img">
										<img src="./images/wire.webp" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Wires</p>
										<h3 class="product-name"><a href="#">Wire</a></h3>
										<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
									</div>
								</div> -->
								<!-- /product widget -->

								<!-- product widget -->
								<!-- <div class="product-widget">
									<div class="product-img">
										<img src="./images/switch_99.webp" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Category</p>
										<h3 class="product-name"><a href="#">product name goes here</a></h3>
										<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
									</div>
								</div> -->
								<!-- product widget -->
							<!-- </div>
						</div>
					</div>

					<div class="col-md-4 col-xs-6">
						<div class="section-title">
							<h4 class="title">Top selling</h4>
							<div class="section-nav">
								<div id="slick-nav-4" class="products-slick-nav"></div>
							</div>
						</div>

						<div class="products-widget-slick" data-nav="#slick-nav-4">
							<div> -->
								<!-- product widget -->
								<!-- <div class="product-widget">
									<div class="product-img">
										<img src="./images/rccb.webp" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Category</p>
										<h3 class="product-name"><a href="#">product name goes here</a></h3>
										<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
									</div>
								</div> -->
								<!-- /product widget -->

								<!-- product widget -->
								<!-- <div class="product-widget">
									<div class="product-img">
										<img src="./images/starter.webp" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Category</p>
										<h3 class="product-name"><a href="#">product name goes here</a></h3>
										<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
									</div>
								</div> -->
								<!-- /product widget -->

								<!-- product widget -->
								<!-- <div class="product-widget">
									<div class="product-img">
										<img src="./images/switch_99.webp" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Category</p>
										<h3 class="product-name"><a href="#">product name goes here</a></h3>
										<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
									</div>
								</div> -->
								<!-- product widget -->
							<!-- </div>

							<div> -->
								<!-- product widget -->
								<!-- <div class="product-widget">
									<div class="product-img">
										<img src="./images/rccb.webp" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Category</p>
										<h3 class="product-name"><a href="#">product name goes here</a></h3>
										<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
									</div>
								</div> -->
								<!-- /product widget -->

								<!-- product widget -->
								<!-- <div class="product-widget">
									<div class="product-img">
										<img src="./images/starter.webp" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Category</p>
										<h3 class="product-name"><a href="#">product name goes here</a></h3>
										<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
									</div>
								</div> -->
								<!-- /product widget -->

								<!-- product widget -->
								<!-- <div class="product-widget">
									<div class="product-img">
										<img src="./images/pvc-insulated-fr-cables-500x500.webp" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Category</p>
										<h3 class="product-name"><a href="#">product name goes here</a></h3>
										<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
									</div>
								</div> -->
								<!-- product widget -->
							<!-- </div>
						</div>
					</div>

					<div class="clearfix visible-sm visible-xs"></div>

					<div class="col-md-4 col-xs-6">
						<div class="section-title">
							<h4 class="title">Top selling</h4>
							<div class="section-nav">
								<div id="slick-nav-5" class="products-slick-nav"></div>
							</div>
						</div>

						<div class="products-widget-slick" data-nav="#slick-nav-5">
							<div> -->
								<!-- product widget -->
								<!-- <div class="product-widget">
									<div class="product-img">
										<img src="./images/rccb.webp" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Category</p>
										<h3 class="product-name"><a href="#">product name goes here</a></h3>
										<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
									</div>
								</div> -->
								<!-- /product widget -->

								<!-- product widget -->
								<!-- <div class="product-widget">
									<div class="product-img">
										<img src="./images/starter.webp" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Category</p>
										<h3 class="product-name"><a href="#">product name goes here</a></h3>
										<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
									</div>
								</div> -->
								<!-- /product widget -->

								<!-- product widget -->
								<!-- <div class="product-widget">
									<div class="product-img">
										<img src="./images/rccb.webp" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Category</p>
										<h3 class="product-name"><a href="#">product name goes here</a></h3>
										<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
									</div>
								</div> -->
								<!-- product widget -->
							<!-- </div>

							<div> -->
								<!-- product widget -->
								<!-- <div class="product-widget">
									<div class="product-img">
										<img src="./images/rccb.webp" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Category</p>
										<h3 class="product-name"><a href="#">product name goes here</a></h3>
										<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
									</div>
								</div> -->
								<!-- /product widget -->

								<!-- product widget -->
								<!-- <div class="product-widget">
									<div class="product-img">
										<img src="./images/switch_99.webp" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Category</p>
										<h3 class="product-name"><a href="#">product name goes here</a></h3>
										<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
									</div>
								</div> -->
								<!-- /product widget -->

								<!-- product widget -->
								<!-- <div class="product-widget">
									<div class="product-img">
										<img src="./images/pvc-insulated-fr-cables-500x500.webp" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Category</p>
										<h3 class="product-name"><a href="#">product name goes here</a></h3>
										<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
									</div>
								</div> -->
								<!-- product widget -->
							<!-- </div> -->
						<!-- </div> -->
					<!-- </div> -->

				<!-- </div> -->
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

		<!-- NEWSLETTER -->
		<div id="newsletter" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<div class="newsletter">
							<p>Sign Up for the <strong>NEWSLETTER</strong></p>
							<form>
								<input class="input" type="email" placeholder="Enter Your Email">
								<button class="newsletter-btn"><i class="fa fa-envelope"></i> Subscribe</button>
							</form>
							<ul class="newsletter-follow">
								<li>
									<a href="#"><i class="fa fa-facebook"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-twitter"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-instagram"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-pinterest"></i></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /NEWSLETTER -->



    <%-include('../layout/footer.ejs') %>
