



<%-include('../layout/header.ejs') %> 
<%-include('../layout/navigation.ejs')%>

<style type="text/css">
  body {
    background: #eee;
  }
  .card {
    box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
  }
  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0, 0, 0, 0.125);
    border-radius: 1rem;
  }
  .text-reset {
    --bs-text-opacity: 1;
    color: inherit !important;
  }
  a {
    color: #5465ff;
    text-decoration: none;
  }

  h3, h5 {
    color: black;
  }

</style>

<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <h3 class="breadcrumb-header">Order Details</h3>
                <ul class="breadcrumb-tree">
                    <li><a href="/home">Home</a></li>
                    <li class="active">Order Details</li>
                </ul>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /BREADCRUMB -->



<div class="container-fluid">
  <div class="container" >
<div class="row">
  <div class="col-lg-12">
        <div class="d-flex justify-content-between align-items-center py-3" style="margin-left: 5px;">
          <h2 class="h4 mb-0">
            <a href="" class="text-muted"> Your tracking ID is: #<%=orders.uniqueId%></a>
          </h2>
        </div>

            <div class="card mb-4" style="padding: 20px; margin-bottom: 20px;">
              <div class="card-body">
                <div class="mb-3 d-flex justify-content-between" style="display: flex; justify-content: space-between; align-items: center; margin: 10px;">
                  <div>
                    <span class="me-3"><%=orders.date.toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: '2-digit' }).replace(/\//g, '-')%>,</span>
                    <!-- <span class="me-3">#16123222</span> -->
                    <span class="me-3"><%=orders.paymentMethod%></span>
                    <span class="badge rounded-pill bg-info">SHIPPING</span>
                  </div>
                  <div class="d-flex">
                    <!-- <button
                      class="btn btn-primary p-2 d-none d-lg-block btn-icon-text"
                    >
                      <i class="bi bi-download"></i>
                      <span class="text">Invoice</span>
                    </button> -->
                    <!-- <div class="dropdown">
                      <button
                        class="btn btn-link p-0 text-muted"
                        type="button"
                        data-bs-toggle="dropdown"
                      >
                        <i class="bi bi-three-dots-vertical"></i>
                      </button>
                      <ul class="dropdown-menu dropdown-menu-end">
                        <li>
                          <a class="dropdown-item" href="#"
                            ><i class="bi bi-pencil"></i> Edit</a
                          >
                        </li>
                        <li>
                          <a class="dropdown-item" href="#"
                            ><i class="bi bi-printer"></i> Print</a
                          >
                        </li>
                      </ul>
                    </div> -->
                  </div>
                </div>
                <div class="table-responsive">
                <table class="table table-borderless">
                <% if(orders && orders.products && orders.products.length>0){%>
                  <% orders.products.forEach((products)=>{%>
                    <tbody>
                      <tr style="align-items: center;">
                        <td>
                          <div class="d-flex flex-column flex-md-row mb-2">
                            <div class="flex-shrink-0 mb-2 mb-md-0" style="padding: 5px;">
                              <img
                                src="/adminAssets/images/<%=products.productId.image[0]%>"
                                alt
                                width="50"
                                class="img-fluid"
                              />
                            </div>
                            <div class="flex-grow-1 ms-md-3" style="padding: 5px;">
                              <h5 class="align-middle">
                                <a href="#" class="text-reset"><%=products.productId.name%></a>
                              </h5>
                              <!-- <span class="small">Color: Black</span> -->
                            </div>
                          </div>
                        </td>
                        <td style="font-weight: bold;"><%=products.quantity%></td>
                        <td style="font-weight: bold;"><%=products.productId.price%></td>
                        <td class="text-end" style="text-align: end;">
                          <a href="#/orderStatus?id=<%=products._id%>">
                            <span class="badge bg-success rounded-pill"><%=products.orderStatus%></span>
                          </a>
                        </td>
                        <td style="text-align: center;">
                          <% if(products.orderStatus === 'Placed' || products.orderStatus === 'Shipped' || products.orderStatus === 'OutforDelivery'){%>
                            <div type="button" class="badge bg-warning rounded-pill text-dark" data-bs-toggle="modal" data-bs-target="#cancelModal" data-bs-whatever="@mdo">Cancel Order</div>
                          <% } else if(products.orderStatus !=='Cancelled' && products.orderStatus !=='Returned') {%>
                            <div type="button" class="badge bg-danger rounded-pill" data-bs-toggle="modal" data-bs-target="#returnModal" data-bs-whatever="@mdo">Return Product</div>
                          <% } %>
                        </td>
                        <td class="text-end font-weight-bold">₹ <%=products.quantity * products.productId.price%></td>
                      </tr>
                    </tbody>
                    
                            <% }); %>
                            <% } %>
                            <tbody>
                              
                              <tr class="tr-footer">
                                <td colspan="4">Subtotal</td>
                                <td class="text-end" style="text-align: end;">₹ <%=orders.totalAmount%></td>
                              </tr>
                              <tr>
                                <td colspan="4">Shipping</td>
                                <td class="text-end" style="text-align: end;">Free</td>
                              </tr>
                              <tr>
                                <td colspan="4">Discount Coupon</td>
                                <td class="text-danger text-end" style="text-align: end;">-₹ <%=orders.discount%></td>
                              </tr>
                              <tr class="fw-bold" style="font-weight: bold;">
                                <td colspan="4">TOTAL</td>
                                <td class="text-end" style="text-align: end;">₹ <%=orders.totalAmount%></td>
                              </tr>
                            </tbody>
                            
                            <hr>
                          </table>
                        </div>
                        </div>
                      </div>
                      
                      
                      
                      <div class="card mb-4" style="border-radius: 1rem;padding: 20px; margin-bottom: 30px;">
                        <div class="card-body">
                          <div class="row">
                            <div class="col-lg-6">
                              <h3 class="h6">Payment Method</h3>
                              <p>
                                <%=orders.paymentMethod%> <br />
                                Total: ₹ <%=orders.totalAmount%>
                                <% orders.products.forEach((data)=>{%>
                                  <table>
                                    <tbody>
                                      <tr class="font-weight-bold">
                                        <td style="color: red;"><%= data.paymentStatus %></td>
                                      </tr>
                                      <tr class="font-weight-bold">
                                        <td>₹ <%= data.productId.price %></td>
                                      </tr>
                                    </tbody>
                                  </table>
                                  
                                  <% }); %>
                                </p>
                              </div>
                              <div class="col-lg-6">
                                <h3 class="h5">Billing address</h3>
                                <address>
                                  <p><%=orders.deliveryDetails%></p>
                                </address>
                                
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>                    
                    </div>
                  </div>
                </div>
              </div>
                
                
    

    
    <% orders.products.forEach((product)=>{%>
    <% if(product.orderStatus !=='Deliverd'){%>

      <!-------------------------------------------- Order Cancel ---------------------------------------->
      <div class="modal fade" id="cancelModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
               <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form method="post" action="/orderCancel?orderId=<%=orders._id%>&productId=<%=product.productId._id%>">
                  <div class="mb-3">
                     <label for="message-text" class="col-form-label"></label>
                     <input type="hidden" class="form-control" id="recipient-name" value="<%=orders.totalAmount%>" name="totalPrice">
                  </div>

                  <% if(orders.paymentMethod != "COD" && orders.products.OrderStatus != "pending"){ %>
            
                    <div class="mb-3 ">
                      <label for="recipient-name" class="col-form-label">Choose Refund Option:</label>
                      <select class="form-select form-control" aria-label="Default select example" name="refundOption">
                        <option value="Wallet" class="form-control" id="recipient-name">Wallet</option>
                    </select>
                    </div>

                    <% } %>

                  <div class="mb-3">
                     <label for="message-text" class="col-form-label">Give reason for order canceling:</label>
                     <textarea class="form-control" id="message-text" name="reason" required></textarea>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                  <button type="submit" class="btn btn-primary">Yes</button>
                </form>
            </div>
         </div>
      </div>
   </div>
   <% } %>

     <!------------------------------------------- end order Cancel ---------------------------------------->

   <!--------------------------------------------- modal Order Reaturn -------------------------------------->

   <div class="modal fade" id="returnModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
       <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
             <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form method="post" action="/orderReturn?orderId=<%= orders._id %>&productId=<%= product.productId._id %>">            
                <div class="mb-3">
                   <label for="message-text" class="col-form-label"></label>
                   <input type="hidden" class="form-control" id="recipient-name" value="<%=orders.totalAmount%>" name="totalPrice">
                </div>

                <% if(orders.paymentMethod != "COD" && orders.products.OrderStatus != "pending"){ %>
          
                  <div class="mb-3 ">
                    <label for="recipient-name" class="col-form-label">Choose Refund Option:</label>
                    <select class="form-select form-control" aria-label="Default select example" name="refundOption">
                      <option value="Wallet" class="form-control" id="recipient-name">Wallet</option>
                  </select>
                  </div>

                  <% } %>

                <div class="mb-3">
                   <label for="message-text" class="col-form-label">Give reason for order returning:</label>
                   <textarea class="form-control" id="message-text" name="reason" required></textarea>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <button type="submit" class="btn btn-primary">Yes</button>
              </form>
          </div>
       </div>
    </div>
 </div>

  <% }); %>




<%- include('../layout/footer.ejs') %>
